@use "header" as *;

.header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  h1 {
    margin-bottom: 0; 
  }
}

.header__nav {
  padding: $nav_pad_top $nav_pad_left;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: nav_height;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: all;

  img.logo {
    display: inline-block;
    height: $nav_height * 0.8;
  }
  h1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
  }  
  .header__nav {
  }
}
