// Defines layout dimensions and media-query mixins

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin padding($top, $sides, $bottom) {
  padding: $top $sides $bottom $sides;
}




