@use './header' as header;
@use '../partials/palette';


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
  margin: header.$nav_height 1rem 1rem 1rem;
}

@media (min-width: 768px) {
  .layout {
  }
  .content {
  }
}
