@use './header' as header;
@use '../partials/palette';


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.splash_page {
    background: linear-gradient(90deg, palette.$col1 0%, palette.$col3 57%, palette.$col4 100%);
  }
}

.content {
  display: flex;
  flex-grow: 1;
  margin: header.$nav_height 1rem 1rem 1rem;
}

@media (min-width: 768px) {
  .layout {
  }
  .content {
  }
}
