@use '../partials/palette';
@use 'mapLayout' as *;

/**
 * Levels:
 * First understand z-index and stacking context. z-index only applies to 
 * positioned elements, for instance.
 * e.g. See: https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
 *
 * The Header element (assumed to be in the parent) is position: fixed
 * and floats on top of everything with z-index 100.
 *
 * The Layout element (assumed to be the parent) is not positioned
 * 
 * The .map_layout is not positioned, and sits on top of the Layout.
 *
 * The .overlay is position: fixed, sits in a stacking context above Layout.
 *
 * The .map element is position: fixed, and sits in a stacking context 
 * behind the Layout element, at z-index -50.
 */
.layout {
  display: flex;
  flex-grow: 1;
  pointer-events: none; // Allow clicks through
  
  a {
    color: palette.$text-link;
  }

  /** This element contains pop-up windows */
  .overlay {
	  display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
  }

  /** This element contains the map */
  .map {
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-grow: 1;
    position: fixed;
    z-index: -50;
    pointer-events: all;
  }

}
.modal .overlay {
  pointer-events: all; // Prevent events getting through
  background: palette.$transparent_gradient;
}

.disabled {
  pointer-events: none;
}

.custom-region {
  fill-opacity: 50%;
  stroke-width: 0;
  &.situation {
    fill: palette.$region-fill-prob;
    stroke: palette.$region-stroke-prob;
  }
  &.solution {
    fill: palette.$region-fill-soln;
    stroke: palette.$region-stroke-soln;
  }
}
.custom-region:hover {
  stroke-width: 0.05rem;
}

.custom-popup {
  border-radius: 0;
  font-weight: bold;
}

.situation {
  color: palette.$head-text-prob !important;
  background: palette.$head-bgnd-prob !important;
  border-color: palette.$head-bgnd-prob !important;
}

.solution {
  color: palette.$head-text-soln !important;
  background: palette.$head-bgnd-soln !important;
  border-color: palette.$head-bgnd-soln !important;
}

// Style the tooltip tips
// This is a hacky workaround for not being able to abut an ampersand
// to `:global`.
// See https://github.com/css-modules/css-modules/issues/295#issuecomment-404873976
:global {
  :local(.situation) {
    .leaflet-popup-content-wrapper {
      :local(header) {
        border-radius: unset;
        font-weight: bold;
        font-size: 1rem;
        font-family: Klima-Medium,"Helvetica Neue", Helvetica, sans-serif;
      }
    }
    .leaflet-popup-content-wrapper,.leaflet-popup-tip {
      :local(header) {
        color: palette.$head-text-prob;
        background: palette.$head-bgnd-prob;
        border-color: palette.$head-bgnd-prob;
      }
    }
  }
  
  //  :local(.custom-tooltip.solution) {
  .leaflet-tooltip-left::before {
    border-left-color: palette.$head-bgnd-soln !important;
  }
  .leaflet-tooltip-right::before {
    border-right-color: palette.$head-bgnd-soln !important;
  }
  //  }
  //  :local(.custom-tooltip.situation) {
  .leaflet-tooltip-left::before {
    border-left-color: palette.$head-bgnd-prob !important;
  }
  .leaflet-tooltip-right::before {
    border-right-color: palette.$head-bgnd-prob !important;
  }
  //  }
}

.custom-popup {
  border-radius: 0;
  font-weight: bold;
}
