@import '../partials/palette';

.map_layout {
  
  a {
    color: col-text-link;
  }
  
  main {
	  display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none;

    aside {
      display: block;
      position: absolute;
      left: 400rem;
      top: 400rem;
      width: 200rem;
      height: 200rem;

    }
  }

  figure {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
  }

}

.figure_disabled {
  pointer-events: none;
}
