.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: none;
}
.left {
  width: 50%;
  display: flex;
  flex: 0 0 auto;
  overflow-y: scroll;
}
.right {
  width: 50%;
  display: flex;  
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0;
  padding-left: 1rem;
  overflow: hidden;
}


.article {
  h1 {
    margin-bottom: 0.7rem;
  }
}

.hero {
  width: 100%;
  margin: 0;
  
  img {
    min-width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    margin: auto;
  }
}

.body {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  a {
    padding-bottom: 1.5rem;
  }
  :last-child {
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 1.5rem 1rem;
  }
  ul {
    list-style: initial;
  }
  ul, ol {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 1.45rem;
  }
  img {
    margin: 0 auto;
    display: block;
  }
}

.audio {
  @extend .body;
  margin-bottom: 1rem;
  audio {
    width: 100%;
  }
}

.video {
  @extend .body;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .body {
    h1, h2, h3, h4, h5, h6 {
      padding: 1.5rem;
    }
    span {
      width: 100%;
      margin: 1rem auto;
    }
    ul, ol {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .hero {
    img {
      min-width: 100%;
    }
  }
}

