.article {
  h1 {
    margin-bottom: 0.7rem;
  }
}

// A bit of a hack, sort later
.hero-image {
  margin-bottom: 1.45rem !important;
}

.hero {
  min-height: 300px;
  width: 100%;
  margin: 0;
  height: 75vh;
  
  img {
    min-width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    margin: auto;
  }
}

.info {
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  h1 {
    margin-bottom: 0.66rem;
  }
  h3 {
    margin-bottom: 0;
  }
}

.body {
  width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    padding-bottom: 1.5rem;
  }
  :last-child {
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 1.5rem 1rem;
  }
  ul {
    list-style: initial;
  }
  ul, ol {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 1.45rem;
  }
}

.audio {
  @extend .body;
  margin-bottom: 1rem;
  audio {
    width: 100%;
  }
}

.video {
  @extend .body;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  h2 {
    margin-bottom: 0;
  }
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .body {
    max-width: 800px;
    padding: 0 2rem;
    h1, h2, h3, h4, h5, h6 {
      padding: 1.5rem;
    }
    span {
      width: 100%;
      margin: 1rem auto;
    }
    ul, ol {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  .hero {
    min-height: 600px;
    height: 75vh;
    img {
      min-width: 100%;
    }
  }
  .info {
    text-align: center;
    padding: 2rem 0;
    h1 {
      max-width: 500px;
      margin: 0 auto 0.66rem auto;
    }
  }
  .footer {
    padding: 2.25rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 70vh;
  }
  .info {
    padding: 3rem 0;
  }
  .footer {
    padding: 2rem 2rem 3rem 2rem;
  }
}
